services:
  postgres:
    image: postgres:17
    restart: always
    container_name: banco-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - cafe-prosa-network
      
networks:
  cafe-prosa-network: